@use "../partials/resets";
@use "../partials/variables"as *;
@use "../partials/mixins"as *;


// Footer Styles 

.footer {
    display: flex;
    flex-direction: row;
    color: $primary-white;
    background-color: $primary-yellow;
    padding: 1rem;

    &__container {
        display: flex;
        flex-direction: column;
        flex: 5;
        padding: 1rem;
    }

    &__title {
        padding: 1rem;
    }

    &__container-right {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    &__developers {
        padding: 1rem;
        display: flex;
        flex-direction: row;
    }

    &__developer {
        margin-right: 2rem;
    }

    &__developer-name {
        margin-bottom: 0.5rem;
    }

    &__icon {
        padding: 1rem;
    }

    &__link {
        text-decoration: none;
    }

    &__logo {
        padding-top: 2rem;
        width: 15rem;
    }

    &__copyright {
        padding-top: 2rem;
    }

}