@use "../partials/resets";
@use "../partials/variables"as *;
@use "../partials/mixins"as *;


.main {
  display: flex;
  justify-content: center;
  height: 120vh;

  &__image {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
  }
  
  &__header {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0 2rem;
    text-decoration: underline;
  }

  &__container {
    padding-top: 3rem;
    font-size: large;

    &--title {
      display: flex;
      justify-content: center;
      font-style: italic;
      padding-top: 10rem;
      padding-bottom: 2rem;
      font-size: 2rem;
      font-weight: bold;
  
    }

    &--btn-discover {
      display: flex;
      justify-content: center;
      padding-top: 2rem;
      padding-bottom: 2rem;

      &--actuabtn {
        width: 40%;
        font-size: 1rem;
        background-color: $primary-black;
        color: white;
        padding: 14px 25px;
        margin: 8px 0px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    &__result {
      display: flex;
      padding-top: 5rem;

      &--movie-container {
        padding-right: 10rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        // margin-right: auto;
        &--image{
          display: flex;
          justify-content: center;
        }
      }
      &--cocktail-container--image{
        display: flex;
          justify-content: center;
      }


  
    }


  }

}

